<html>
<head>
    <title>
        PlayFair Cipher
    </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <center><h1>PLAYFAIR CIPHER</h1></center><br>
    <center><form action="/" method="post">
        <div class="form-group">
          <label>Plaintext</label><br>
          <input type="text" class="form-control"  placeholder="Enter Plaintext" name="plaintext">
        </div><br>
        <div class="form-group">
          <label>Ciphertext</label><br>
          <input type="text" class="form-control" placeholder="Enter Cipher" name="cipher">
        </div>
        <button type="submit" value="Encrypt" name="action">Encrypt</button>
        &emsp14;
        <button type="submit" value="Decrypt" name="action">Decypt</button><br>
        <div class="form-group">
            <label>Output</label><br>
            <textarea cols="50" rows="10" readonly>{{ op }}</textarea>
          </div><br>
      </form></center>
      
</body>
</html>